/*Author: Jesse Rock
Site: OOMDO.com
Date: 4/1/16*/

/*General*/
@font-face {
    font-family: industryFont;
    src: url('fonts/industry%20Family/Fort%20Foundry%20-%20Industry%20Light.otf');
}



*,:before,:after {
	box-sizing: border-box;
}
html {
	font-family: industry !important;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	color: #ECEFF1;
}
body{
	font-family: industry !important;
}

/*Site Loading Screen*/
.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 35;
	background-image: radial-gradient(#1F1F1F,#000);
}


.home_content_splitter{
  height: 100vh;
  transition: ease-in-out 1s;
}
.close_split{
  height: 0;
  transition: ease-in-out 1s;
}

.site_wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: ease-in-out .9s;
	overflow: hidden;
	z-index: 2;
}

.warp {

	transition: ease-in-out .9s;
	transform: rotate(360deg);
	width: 0.1%;
	height: 0.1%;
	top: 48%;
	left: 48%;
}

.contact_wrap {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 15%;
	text-align: center;
	font-size: 150px;
  line-height: 1;
}

.nav_container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	display: none;
	cursor: default;
}

.nav_container a {
	cursor: default;
}

.nav_contain_back {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(#4f6875,#263238);
	z-index: 8;
	opacity: .8;
	display: none;
}



/*mobile nav*/
.mobile_nav_container{
	position: fixed;
	left: -280px;
	top: 0;
	width: 280px;
	height: 100%;
	z-index: 8;
	opacity: .8;
	transition: ease-in-out 0.4s;
}
.mobile_nav_back{
	position: fixed;
	left: -280px;
	top: 0;
	width: 280px;
	height: 100%;
	background-image: radial-gradient(#4f6875,#263238);
	z-index: 7;
	opacity: .8;
	transition: ease-in-out 0.4s;
}

.mobile_nav_open{

	display: none;
}

/*mobile nav end*/





.main_wrap {
	background: rgba(0,0,0,0.7);
	position: fixed;
	z-index: 3;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	/*padding: 20% 10% 10%;*/
	transition: ease-in-out .4s;
}

.mob_nav_wrap {
	background: rgba(0,0,0,0);
	position: fixed;
	z-index: 3;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	/*padding: 20% 10% 10%;*/
}

.center_info{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
		padding: 20%;
}
.center_info img{
	width: 75%;
	margin-bottom: 20px;
}


.back_video {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	transition: ease-in-out .4s;
	position: fixed;
	left: 0;
	bottom: 0;
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	transition: 1s opacity;
}

.oom_page {
	background: #fff;
	/*border: 10px solid #000;*/
	position: fixed;
	z-index: 4;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 100vh;
	transition: ease-in-out .4s;
	overflow: auto;
	padding: 0;
	padding-top: 85px !important;
}

.page_1_sec_1 {
	text-align: center;
	font-size: 150px;
	padding: 150px;
	border: 10px solid #333;
	width: 100%;
}

.page_1_sec_2 {
	padding: 200px 0;
	border: 10px solid #333;
	width: 100%;
}

.page_1_sec_3 {
	padding: 500px 0;
	border: 10px solid #333;
	width: 100%;
}

.oom_page_1 {
	transition: ease-in-out .4s;
	bottom: 100%;
	left: -100%;
	padding: 0;
}

.oom_page_2 {
	transition: ease-in-out .4s;
	bottom: 100%;
	left: 0;
		padding: 0;
}


.oom_page_3 {
	transition: ease-in-out .4s;
	bottom: 100%;
	left: 100%;
}

.oom_page_4 {
	transition: ease-in-out .4s;
	bottom: -100%;
	left: -100%;
}

.oom_page_5 {
	transition: ease-in-out .4s;
	bottom: -100%;
	left: 0;
}

.oom_page_6 {
	transition: ease-in-out .4s;
	bottom: -100%;
	left: 100%;
}

.oom_page_space_left {
	transition: ease-in-out .4s;
	left: -100%;
	bottom: 0;
}

.oom_page_space_right {
	transition: ease-in-out .4s;
	bottom: 0;
	left: 100%;
}

/*page transitions*/
.page_trans_vert_full {
	transition: ease-in-out .4s;
	bottom: 100%;
}

.page_trans_vert_mid {
	transition: ease-in-out .4s;
	bottom: 0;
}

.page_trans_vert_bottom {
	transition: ease-in-out .4s;
	bottom: -100%;
}

.page_trans_horz_mid {
	transition: ease-in-out .4s;
	left: 0;
}

.page_trans_horz_left {
	transition: ease-in-out .4s;
	left: -100%;
}

.page_trans_horz_right {
	transition: ease-in-out .4s;
	left: 100%;
}

.main_wrap h1 {
	font-size: 45px;
	font-family: 'Roboto Condensed',sans-serif;
	text-align: center;
	margin: 0;
	color: #98FF3E;
}

.main_wrap p {
	font-size: 22px;
	opacity: .7;
	text-align: center;
	color: #f2f2f2;
}

.back_video iframe {
	width: 100%;
	height: 100%;
}

.toggle_back_up {
	transition: ease-in-out .4s;
	top: -100vh;
}

.menu_toggle {
	cursor: pointer;
	font-size: 26px;
	position: fixed;
	z-index: 20;
	left: 2%;
	top: 2%;
	color: #f2f2f2;
	font-family: 'Roboto Condensed',sans-serif;
}

.home {
	cursor: pointer;
	font-size: 26px;
	position: fixed;
	z-index: 20;
	right: 2%;
	top: 2%;
	color: #f2f2f2;
	font-family: 'Roboto Condensed',sans-serif;
}

.menu_toggle:hover, .home:hover {
	opacity: .5;
}

.color_white {
	transition: ease-in-out .2s;
	color: #f2f2f2;
}

.color_black {
	transition: ease-in-out .4s;
	color: #000;
}

.trans_nav_container {
	position: fixed;
	top: 32.5vh;
	left: calc((100% - 35.5vh) / 2);
	width: calc(35vh);
	height: 35vh;
	transform: rotate(90deg);
}

.shifter {
	display: block;
	position: absolute;
/* top: 1%; */
/*bottom: 1%;
  left: 4%;*/
	bottom: 42%;
	left: 43%;
	border-radius: 50%;
	width: 13%;
	height: 13%;
	z-index: 9;
	transition: ease-in-out .4s;
}

.cover_pillar {
	z-index: 8;
	background-color: #263238;
	width: 90%;
	height: calc(15% - 4px);
	position: absolute;
	transform: rotate(-90deg);
	bottom: 40%;
	transform: rotate(-90deg);
	left: calc(5% - -1px);
}

.shifter_inner {
	border: 3px solid #98FF3E;
	border-radius: 12px;
	width: 90%;
	height: 100%;
	margin-left: 5%;
}

.shifter img {
	width: 100%;
	height: auto;
}

/*shifter transitions*/
.shift_dwn_mid {
	transition: ease-in-out .4s;
	left: 43%;
}

.shift_dwn_full {
	transition: ease-in-out .4s;
	left: 86%;
}

.shift_up_mid {
	transition: ease-in-out .4s;
	left: 43%;
}

.shift_up_full {
	transition: ease-in-out .4s;
	left: 1%;
}

.shift_left_mid {
	transition: ease-in-out .4s;
	bottom: 42%;
}

.shift_left_full {
	transition: ease-in-out .4s;
	bottom: 1%;
}

.shift_right_mid {
	transition: ease-in-out .4s;
	bottom: 42%;
}

.shift_right_full {
	bottom: 86%;
	transition: ease-in-out .4s;
}

.shift_neutral {
	left: 43%;
	transition: ease-in-out .4s;
}

/*check neutral*/
.shift_neutral_left{
	bottom: 29%;
	transition: ease-in-out 0.2s;
}
.shift_neutral_right{
	transition: ease-in-out 0.2s;
	left: 55%;
}

.page {
	font-family: 'Roboto Condensed',sans-serif;

	cursor: pointer;
	color: #f2f2f2;
	transition: ease-in-out .4s;
}

.page_inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	line-height: 1;
	font-size: 18px;
}

.page:hover {
	opacity: .6;
	-webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	transition: ease-in-out .3s;
}

.toggle,.toggleTwo,.toggleThree,.toggleFour {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 15%;
	color: #fff;
	outline: 0;
	text-decoration: none;
	border-radius: 12px;
	background-color: #263238;
	transition: all 500ms;
	position: relative;
	bottom: -85%;
	left: 0;
	z-index: 3;
	border: 2px solid;
}

.top_row_nav {
	z-index: 99999;
	bottom: -50%;
	position: fixed;
	top: 28.5vh;
	left: calc((100% - 47.5vh) / 2);
	width: calc(46vh);
	height: 7vh;
	display: none;
}

.top_row_nav .row {
	padding: 0;
	margin: 0;
}

.top_row_nav .col-xs-4 {
	padding: 0;
	margin: 0;
}

.bottom_row_nav {
	z-index: 99999;
	position: fixed;
	top: 71.5vh;
	left: calc((100% - 47.5vh) / 2);
	width: calc(46vh);
	height: 7vh;
	display: none;
}

.bottom_row_nav .row {
	padding: 0;
	margin: 0;
}

.bottom_row_nav .col-xs-4 {
	padding: 0;
	margin: 0;
}

.toggleTwo {
	bottom: -29%;
}

.toggleThree {
	bottom: 30%;
}

.toggleTwo {
}

.toggleFour {
	transform: rotate(90deg);
	z-index: 1;
	width: calc(100% - 5px);
	bottom: 3%;
	border-radius: 0;
}

.toggle {
	z-index: 5;
}

.toggle:active,.toggleThree:active {
}

.toggle:hover:not(.toggle--moving):after,.toggleThree:hover:not(.toggle--moving):after {
	background-color: #455A64;
}

.toggle:after,.toggleThree:after,.toggleFour:after {

}

.toggle--on:after {
	content: '';
	border-radius: 50px;
	color: #98FF3E;
}

.toggle--off:after {
	content: '';
	border-radius: 50px;
	transform: translate(168px,0);
	color: #98FF3E;
}

.toggle--off--right--all:after {
	content: '';
	border-radius: 50px;
	transform: translate(168px,-289px);
	color: #98FF3E;
}

.toggle--off--down:after {
	content: '';
	border-radius: 50px;
	transform: translate(337px,-250px);
	color: #98FF3E;
}

.toggle-clear:after {
	visibility: hidden;
}

.toggle--off--three:after {
	content: '';
	border-radius: 50px;
	transform: translate(328px,0);
	color: #98FF3E;
}

.toggle--off--four:after {
	content: '';
	border-radius: 50px;
	transform: translate(249px,0);
	color: #98FF3E;
}

.toggle--pos--6:after {
	content: '';
	border-radius: 50px;
	transform: translate(168px,0);
	color: #98FF3E;
}

.toggle--moving {
}

.toggle--moving:after {
	color: transparent;
	border-color: #435862;
	background-color: #222c31;
	transition: color 0s,transform 500ms,border-radius 500ms,background-color 500ms;
}

h1 {
	font-size: 64px;
	margin-top: 0;
	margin-bottom: 50px;
}

/*warp speed button*/
.warp_speed {
	position: fixed;
	bottom: 2%;
	right: 2%;
	z-index: 3;
	display: none;
}

.the-button {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	padding: 0;
	-webkit-box-shadow: 0 0 .5em rgba(0,0,0,1),inset 0 .25em .3em rgba(255,255,255,.3),inset 0 -.25em .3em rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 .5em rgba(0,0,0,1),inset 0 .25em .3em rgba(255,255,255,.3),inset 0 -.25em .3em rgba(0,0,0,.5);
	box-shadow: 0 0 .5em rgba(0,0,0,1),inset 0 .25em .3em rgba(255,255,255,.3),inset 0 -.25em .3em rgba(0,0,0,.5);
	font: inherit;
	cursor: pointer;
}

.the-button:before {
	content: " ";
	position: absolute;
	left: 10%;
	top: 10%;
	width: 80%;
	height: 80%;
	background: -moz-linear-gradient(top,rgba(255,255,255,0.14) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0.14)),color-stop(50%,rgba(255,255,255,0)),color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.14) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,rgba(255,255,255,0.14) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,rgba(255,255,255,0.14) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,rgba(255,255,255,0.14) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.the-button:active {
	-webkit-box-shadow: 0 0 .5em rgba(0,0,0,1),inset 0 .1em .3em rgba(0,0,0,.5),inset 0 -.1em .3em rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 .5em rgba(0,0,0,1),inset 0 .1em .3em rgba(0,0,0,.5),inset 0 -.1em .3em rgba(0,0,0,.5);
	box-shadow: 0 0 .5em rgba(0,0,0,1),inset 0 .1em .3em rgba(0,0,0,.5),inset 0 -.1em .3em rgba(0,0,0,.5);
}

.the-button:active:before {
	top: 11.5%;
}

.button-frame {
	top: 50%;
	position: relative;
	z-index: 20;
	margin: -3.4em auto 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 4.8em;
	height: 4.8em;
	padding: .55em;
	display: block;
}

.plastic {
	background: #ffb600;
/* Old browsers */
	background: -moz-linear-gradient(top,#ffb600 0%,#D09502 100%);
/* FF3.6+ */
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffb600),color-stop(100%,#D09502));
/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,#ffb600 0%,#D09502 100%);
/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,#ffb600 0%,#D09502 100%);
/* Opera 11.10+ */
	background: -ms-linear-gradient(top,#ffb600 0%,#D09502 100%);
/* IE10+ */
	background: linear-gradient(to bottom,#ffb600 0%,#D09502 100%);
}



.super_index1{
	z-index: 150;
}
.super_index2{
	z-index: 151;
}



/*home page*/
.main_wrap{
	overflow: auto;
}


/*footer*/
.foot_wrap{
	-webkit-box-shadow: inset 0px 14px 16px -13px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 14px 16px -13px rgba(0,0,0,0.75);
box-shadow: inset 0px 14px 16px -13px rgba(0,0,0,0.75);
}
/*.foot_1{
  background-image: radial-gradient(#FFB600,#FFD774);
}
.foot_2{
  background-image:radial-gradient(#02DBFF,#5EE8FF);
}
.foot_3{

    background-image: radial-gradient(#B70FFF,#C44DF6);
}*/
.main_wrap footer{
	width: 100%;
	position: absolute;
	height: auto;
	padding: 50px;
	top: 100%;
	text-align: center;
	background: #f2f2f2;
	left: 0;
	color: #000;
	-webkit-box-shadow: inset 0px 14px 16px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 14px 16px -13px rgba(0,0,0,0.75);
    box-shadow: inset 0px 14px 16px -13px rgba(0,0,0,0.75);
}
.page_footer{
	-webkit-box-shadow: inset 0px 14px 16px -13px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 14px 16px -13px rgba(0,0,0,0.75);
		box-shadow: inset 0px 14px 16px -13px rgba(0,0,0,0.75);
}

.social_foot div i{
	font-size: 32px;
  color: #302D2E;
	cursor: pointer;
}
.social_foot, .contact_foot, .menu_foot{
	margin-bottom: 20px;
	padding: 10px;
}
.inner_foot{
	/*background: #E3E3E3;
	border-bottom: 3px solid gainsboro;*/
	height: 300px;
	/*-webkit-box-shadow: 0px 0px 42px -18px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 42px -18px rgba(0,0,0,0.75);
box-shadow: 0px 0px 42px -18px rgba(0,0,0,0.75);*/
}
.social_foot div i:hover{
	opacity: 0.6;
}
.contact_foot span{
	font-size: 27px;
	  color: #302D2E;
}
.contact_foot address, .oom_phone, .oom_email{
	font-size: 18px;
	opacity: 0.8;
	color: #302D2E;
	margin: 5px;
	transition: ease-in-out 0.2s;
}
.contact_foot address a, .oom_phone a, .oom_email a{
  color: #302D2E !important;
	text-decoration: none !important;
}
.menu_foot span{
	font-size: 27px;
	  color: #302D2E;
		cursor: pointer;
}
.menu_foot span:hover{
	opacity: 0.6;
}
.menu_item_foot{
	font-size: 18px;
	opacity: 0.8;
	cursor: pointer;
	color: #302D2E;
	transition: ease-in-out 0.2s;
}


.menu_item_foot:hover, .oom_phone:hover, .oom_email:hover, address:hover{
	opacity: 1;
	font-size: 21px;
	transition: ease-in-out 0.2s;

}

/*MENU bar*/
.menu_bar{
	z-index: 19;
	background: rgba(255,255,255,1);
	cursor: default;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;

	transition: ease-in-out 0.2s;
display: none;
	font-size: 26px;
	color: #f2f2f2;
	font-family: 'Roboto Condensed',sans-serif;
}
/*.menu_toggle:hover + .menu_bar, .home:hover ~ .menu_bar, .menu_bar:hover{
	background: rgba(255,255,255,1);
	transition: ease-in-out 0.2s;
}*/
.menu_bar_logo img{
	margin: 0 auto;
	width: auto;
	height: 45px;
	margin: 20px;
}

/*who we are*/
.no_pad_mar{
	padding:0 !important;
	margin:0 !important;
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.culture_page, .page_header{
	cursor: pointer;
transition: ease-in-out 0.3s;
	background-image: url('../assets/back_1.jpeg');
  background-size: cover !important;
}

.our_digs_header{
	transition: ease-in-out 0.3s;
	background-image: url('../assets/our_digs_header.png');
  background-size: cover !important;
}
.leadership_header{
	transition: ease-in-out 0.3s;
	background-image: url('../assets/leaders_head.png');
  background-size: cover !important;
}
.team_header{
	transition: ease-in-out 0.3s;
	background-image: url('../assets/group_picture.png');
  background-size: cover !important;
}

.who_wrap, .culture_page, .inner_page, .page_header {
  /*float: left;
  margin: 0;
  height: 180px;
  width: 300px;*/
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  /*position: relative;*/
}
.who_wrap:hover {
  background-size: 100%;
}



.page_header_height{
	 height: calc(20vh - 17px);
}
.page_content_section{
	 min-height: calc(80vh - 68px) !important;
	 overflow: hidden;
   transition: ease-in-out 0.3s;
}
.page_content_section p{
	color: #f2f2f2;

}
.middle_culture{
	padding-right:10px !important;padding-left:10px !important;
}

.page_content_box{
    padding: 120px 10px;
		background: #E3E3E3;
    border-bottom: 3px solid gainsboro;
}

.we_have div{
	background: #E3E3E3;
	border-bottom: 3px solid gainsboro;
	text-align: center;
	padding: 50px 10px;

}
.we_have{
	margin-bottom: 10px;
}


.who_wrap{
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
z-index: 2;
opacity: 1;
transition: ease-in-out 0.4s;
}
.who_wrap:hover, .who:active{
	opacity: 0;
	transition: ease-in-out 0.4s;
}
.who_info{
	position: absolute;
	z-index: 1;
	height: 96%;
	width: 98%;
	left: 1%;
	top: 2%;
	border: 3px solid #D0D0D0;
}
.who_1{
 height: calc(50vh - 42.5px);	transition: ease-in-out 0.4s;
 }
.who_wrap{
	background-image: url('../assets/back_1.jpeg');
}

.who_page{
	transition: ease-in-out 0.4s;
}
.slide_this_right{
	margin-left: 100% !important;
    z-index: 9;
		transition: ease-in-out 0.4s;
}
.slide_this_left{
	margin-left: -100% !important;
    z-index: 9;
		transition: ease-in-out 0.4s;
}

.who_2{
height: calc(50vh - 42.5px);
}
.who_3{
height: calc(33.3333vh - 28.3333px);
}
.who_4{
height: calc(33.3333vh - 28.3333px);
}
.who_5{
height: calc(33.3333vh - 28.3333px);
}
.who_page_overlay, .culture_page_overlay, .header_page_overlay{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.8);
}
.header_page_overlay{
		background:rgba(183, 15, 255, 0.3);
		cursor: default;
    transition: ease-in-out 0.4s;
}
.header_overlay_our_digs{
  background:rgba(152, 255, 62, 0.3);

  transition: ease-in-out 0.4s;
}
.header_overlay_leadership{
  background:rgba(255, 182, 0, 0.3);

  transition: ease-in-out 0.4s;
}
.header_overlay_team{
  background:rgba(2, 219, 255, 0.3);

  transition: ease-in-out 0.4s;
}
.hide_head{
	display: none;
	color: rgb(242, 242, 242);
display: block;
position: absolute;
width: 360px;
left: calc(50% - 180px);
top:calc(50% - 19.5px);
}
.culture_head_1{
	display: block;
}
.culture_title{
	position: relative;
width: 135px;
left: calc(50% - 67.5px);
transition: ease-in-out 0.4s;
border: 2px solid transparent;
border-radius: 5px 5px 5px 5px;
cursor: pointer;
opacity: 1;
background: transparent;
}
.culture_title:hover{
	background: rgba(0,0,0,0.6);
}
.shift_culture_title{
	left: calc(0% - 34.5px);
	    transform: rotate(-90deg);
	    transition: ease-in-out 0.4s;
	    border: 2px solid #f2f2f2;
	    border-radius: 0 0 5px 5px;
	    padding: 5px 0 10px 0;
			width: 113px;
}
.culture_title h1{
	line-height: 1;
	transition: ease-in-out 0.3s;
}
.culture_h1{
	font-size: 26px;
	transition: ease-in-out 0.3s;
}
.team_content ul{
	padding: 5px;
	margin: 0;
	float: left;
	margin-bottom: 20px;
}






.leadership_content{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

}
.no_height{
  height: 0 !important;
  transition: ease-in-out 0.2s;
}
.leaders_wrap{
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  /*position: relative;*/
  /*overflow: hidden;*/
}
.leader{
  background: #F6F6F6;
  /* position: absolute; */
  border-radius: 5px;
  /*border-bottom: 3px solid lightgrey;*/
  width: 100%;
  height: calc(50% - 5px);
  margin-bottom: 10px;
  position: relative;
  padding: 20px;
  float: left;
    transition: ease-in-out 0.2s;
    cursor: default;
    /*border: 3px solid #F6F6F6;*/
}



.leader_img{
  float: left;
    height: 100%;
    overflow: hidden;
    /*-webkit-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 31px -4px rgba(0,0,0,0.75);*/

transition: ease-in-out 0.2s;
}

.leader_1:hover .leader_img{
  box-shadow: none;
  transition: ease-in-out 0.2s;

}
.leader_1:hover{
  background: #fff;

  transition: ease-in-out 0.2s;
}


.leader_2:hover .leader_img{
  box-shadow: none;
  transition: ease-in-out 0.2s;

}
.leader_2:hover{
  background: #fff;

  transition: ease-in-out 0.2s;
}


.leader_2 .leader_img{
  float: right;
}

.leader_img{
  width: 0;
  height: 100%;
  transition: ease-in-out 0.4s;
}
.stretch_img{
  transition: ease-in-out 0.4s;
  width: 40%;
}
.leader_name{
  position: relative;
  width: 60%;
  height: 100%;
  float: left;
font-size: 32px;
color:#535353;
}
.leader_1 .leader_name{
  float: right;
}
.own_name{
  /*background: #535353;*/
  padding: 10px;
  /*width: 50%;*/
  margin: 0 auto;
  text-align: center;
  transition: ease-in-out 0.3s;
}
.own_name p{
  display: none;
  transition: ease-in-out 0.3s;
  font-size: 16px;
  color: #000;
  opacity: 0.8;
}
.own_info_show_left{
  display: block !important;
  text-align: left !important;
  transition: ease-in-out 0.3s;
}
.own_info_show_right{
  display: block !important;
  text-align: right !important;
  transition: ease-in-out 0.3s;
}


.leader_1 .own_name{
  border-radius: 0 5px 5px 0;
}
.leader_2 .own_name{
  border-radius: 5px 0 0 5px;
}
.leader_2 .leader_img{
  background: url('../assets/employeePhotos/michael.png') no-repeat center center;
  background-size: contain;
}
.leader_1 .leader_img{
  background: url('../assets/employeePhotos/ryan.png') no-repeat center center;
  background-size: contain;
}

.leader_name{
  float: left;
}
.leader img{
  /*height: 100%;*/
  width: 100%;
  /*padding: 10px;
background: #fff;
border-top: 3px solid lightgrey;
border-radius: 3px;*/
}
.leader .center_info{
  padding: 0;
}
/*.leader_1:before {
  content: '';
    position: absolute;
    left: 0;
    bottom: -25px;
    overflow: visible;
    width: 100%;
    height: 51px;
    background: #ACFF64;
    z-index: 10;
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
}*/



/*.leader_2:before{
  content: '';
    position: absolute;
    left: 0;
    bottom: -25px;
    overflow: visible;
    width: 100%;
    height: 51px;
    background: rgba(255, 182, 0,1);
    z-index: 10;
    -webkit-transform: skewY(-2deg);
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -o-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;

}*/

.people_container{
	padding: 5px;
	width: 14.2857142857%;
	overflow: hidden;
	float: left;
}



.new_people_container{
	padding: 5px 5px 0 5px;

	width: 28.5714285714%;
	/*padding: 10px;*/

	display: inline-block;
}
.new_wrap{
	cursor: pointer;
	background: #E7E7E7;
	position: relative;
}
.new_wrap .center_info{
	padding: 0;
}
.new_wrap:hover{
opacity: 0.5;
}
.new_people_container i{
	font-size: 45px;
	color: #fff;
}
.people_container div:nth-child(1){
	position: relative;
	overflow: hidden;
}
.people_container h1{
	color: #f2f2f2;
	font-size: 16px;
	margin: 0;
}
.people_container p{
	color: #f2f2f2;
	font-size: 12px;
}
.people_container img{
	/*width: 100%;
	height: auto;*/


	max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.people_container:hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.new_person{
	cursor: pointer;
}
.people_info{
	position: absolute;
	bottom: 0;
	left:0;
	z-index: 2;
	width: 100%;
	height: 100%;
	padding: 5px;
	opacity: 0;
	transition: ease-in-out 0.3s;
}
.people_container:hover div:nth-child(2), .people_container:active div:nth-child(2){
	opacity: 1;
	transition: ease-in-out 0.3s;

}
.people_container .center_info{
	padding: 5% !important;
}
.team_content, .leadership_content, .our_digs_content{
	padding: 0;
	display: none;
	cursor: default;
	float: left;
  cursor: default;
}

.our_digs_content{
width: 100%;
padding: 10px;
}
.our_digs_info{
  text-align: left;
}
.our_digs_info p{
  color: #000;
}
.our_digs_content img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.digs_img{
  position: relative;
  width: 100%;

}
.our_digs_img_overlay1, .our_digs_img_overlay2, .our_digs_img_overlay3{
  position:absolute;
  top: 0;
  height: calc(100% - 10px);
  width: 100%;
  left: 0;

}
.our_digs_img_overlay1{
background: rgba(224, 0, 121, 0.3);
}
.our_digs_img_overlay2{
background: rgba(2, 219, 255, 0.3);
}
.our_digs_img_overlay3{
background: rgba(255, 182, 0, 0.3);
}



.people_wrap{
	padding:10px !important;
}

.white_background{
	transition: ease-in-out 0.7s;
	background: #fff !important;
}

.culture_page_overlay{
	cursor: pointer;
  transition: ease-in-out 0.3s;
}
.culture_display_info{
	cursor: inherit;
      background: rgba(0,0,0,0.3);
      padding: 20px;
      border: 4px solid rgba(0,0,0,0.2);
}
.who_1 .who_page_overlay, .culture_page_overlay1{
	background: rgba(152, 255, 62, 0.3);
	transition: ease-in-out 0.2s;
}
.culture_page_overlay1:hover{
		background: rgba(152, 255, 62, 0.5);
		transition: ease-in-out 0.2s;
}
.who_2 .who_page_overlay, .culture_page_overlay2{
	background: rgba(255, 182, 0, 0.3);
	transition: ease-in-out 0.2s;
}
.culture_page_overlay2:hover{
		background: rgba(255, 182, 0, 0.5);
		transition: ease-in-out 0.2s;
}
.who_3 .who_page_overlay, .culture_page_overlay3{
	background: rgba(2, 219, 255, 0.3);
	transition: ease-in-out 0.2s;
}
.culture_page_overlay3:hover{
		background: rgba(2, 219, 255, 0.5);
		transition: ease-in-out 0.2s;
}
.who_4 .who_page_overlay, .culture_page_overlay4{
	background:rgba(224, 0, 121, 0.3);
}
.who_5 .who_page_overlay{
	background:rgba(183, 15, 255, 0.3);
}
/*.culture_page_overlay:hover h1{
  text-decoration: underline;
  transition: ease-in-out 0.4s;
}*/
.culture_page_overlay h1{
  margin: 5px;
}
.culture_page_overlay .center_info{
  padding: 10%;
}
.culture_page_overlay:hover .culture_display_info{
  transition: ease-in-out 0.4s;
  /*color: #000 !important;*/
  background: rgba(0,0,0,0.4);
}
.inner_page{
	cursor: pointer;
	background-size: cover;
	background-image: url('../assets/back_1.jpeg');
	height: calc(78vh - 68px);margin-top:1vh;
	position: relative;
	left: 0;
	top: 0;
	transition: ease-in-out 0.4s;
	width: 100%;
}
.slide_wide{
	transition: ease-in-out 0.4s;
	width: 300%;
}
.slide_wide_2{
	transition: ease-in-out 0.4s;
	width: 312%;
	left: -106%;
}
.slide_wide_3{
	transition: ease-in-out 0.4s;
	width: 300%;
	left: -200%;
}
.slide_page_right{
	transition: ease-in-out 0.4s;
	left: 1000%;
}
.slide_page_left{
	transition: ease-in-out 0.4s;
	left: -1000%;
}


.mobile_home{
	height: calc(100% - 70px);
	width: 100%;
	margin-top: 70px;
	display: none;
	padding: 5px !important;
}
.mob_home_box{
	padding: 5px !important;
	/*border:1px solid yellow;*/
	/*padding: 10px;*/

}
.inner_mob_box{
	height: 100%;
	width: 100%;
	cursor: pointer;
	background-image: url('../assets/back_1.jpeg');
	background-size: cover;
}
.btm_three{
	height: 100%;
}
.btm_three .inner_mob_box{
	background-image: url('../assets/back_1.jpeg');
	background-size: cover;
}

.inner_mob_box:hover{
	/*opacity: 0.7;*/
}
.mob_box_content{
	background: rgba(255,255,255,0.6);
	height: 100%;
	width: 100%;
}
.mob_home_1 .mob_box_content, .page-6 .mob_box_content{
	background: rgba(152, 255, 62, 0.6);
}
.mob_home_2 .mob_box_content, .page-contact .mob_box_content{
	background:rgba(175, 67, 84, 0.6);
}
.mob_home_3 .mob_box_content, .page-action .mob_box_content{
	background: rgba(224, 0, 121, 0.6);
}
.mob_home_4 .mob_box_content{
	background: rgba(183, 15, 255, 0.6);
}
.mob_home_5 .mob_box_content{
	background: rgba(2, 219, 255, 0.6);
}

.mob_home_1{
	height: calc(50%);
}
.mob_home_1 .inner_mob_box{


}
.mob_home_2{
	height: calc(50%);
}
.mob_home_2 .inner_mob_box{

}
.mob_home_3{
	height: calc(50%);
}
.mob_home_3 .inner_mob_box{

}
.mob_home_4{
	height: calc(18.3333% - 10px);
}
.mob_home_4 .inner_mob_box{


}
.mob_home_5{
	height: calc(18.3333% - 10px);
}
.mob_home_5 .inner_mob_box{


}
.mob_home_6{
	height: calc(18.3333% - 10px);
}
.mob_home_6 .inner_mob_box{


}
.testing{
	height: calc(16.6666);
}
.mob_home_title{
	color:#f2f2f2 !important;
	font-weight: bolder;
	padding: 10px;
	background: rgba(0,0,0,0.3);
	font-size:18px !important;
	width: 100%;
}
.mob_box_content .center_info{
	width: calc(100% - 10px);
	padding: 0 !important;
}
.btm_three .center_info{
	width: calc(100% - 5px);
	padding: 0 !important;
	left: calc(50% - 2.5px);
}


.menu_toggle i, .home i{
	background: rgba(0,0,0,0.6);
		transition: ease-in-out 0.2s;
}


.blackOutMenu{
	transition: ease-in-out 0.2s;
	color: #000 !important;
	background: rgba(255,255,255,0.6) !important;
}


.feats_infographic{
	padding: 0 !important;
	background: #fff !important;
	margin-bottom: 20px;
	border: none !important;
}

.feats_infographic img{
	width: 100%;
	height: auto;

}


/*mobile styling*/
@media screen and (max-width: 762px){

	.middle_culture{
		padding:0 !important;
	}

.menu_bar{
	display: block !important;
}

.menu_bar_logo img{
	height: 30px;
}
.mob_nav_wrap {
	/*background: rgba(0,0,0,0.8);*/
}
.mob_nav_back{
  background: rgba(0,0,0,0.8);
}
.mobile_home{
	display: block;
}
.desktop_home{
	display: none;
}

.inner_page{
	    height: calc(20vh - 17px);
}
.page_content_section .inner_page{
	height: calc(24vh - 10px);
}
.who_page{
	height: 33.333vh !important;
}

	.nav_container, .nav_contain_back, .top_row_nav, .bottom_row_nav, .warp_speed{
		display: none !important;
	}

	.mobile_nav_open{
		left: 0;
		transition: ease-in-out 0.4s;
		display: block;
	}
	.center_info{

			padding: 20px;
	}
	.center_info h1{font-size: 28px;}
	.center_info p{
		font-size: 16px;
	}

}


@media screen and (max-width: 1200px){

	.people_container{
		width: 16.6666666667%;
	}
}

@media screen and (max-width: 1100px){

	.people_container{
		width: 20%;
	}
}
.our_digs_img_wrapper{
  padding: 0 0 0 20px !important;
}
@media screen and (max-width: 990px){

  .culture_display_info p{
    display: none;
  }

  .our_digs_img_wrapper{
    padding: 20px 0 0 0 !important;
  }
  .slide_wide{
    width: 100%;
		left: 0;
  }
  .slide_wide_2{
    width: 100%;
    left: 0;
  }
	.slide_wide_3{
		width: 100%;
		left: 0;
	}
	.menu_foot .center_info{
		padding:0;
	}
	.foot_1{
		height: 50px;
	}
	.foot_2{
		height: 130px;
	}
	.foot_3{
		height: 190px;
	}
	.people_container{
		width: 25%;
	}

	.people_container h1{
		font-size: 14px;
	}
	.people_container p{
		font-size: 12px;
	}

}

@media screen and (max-width: 850px){

	.people_container{
		width: 33.3333%;
	}
}

@media screen and (max-width: 480px){
	.people_container{
		width: 50%;
	}
}


/*
div {
    width: 100px;
    height: 100px;
    background: red;
    position :relative;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

@-webkit-keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}

@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}*/


.culture_page_overlay{
  /*background: rgba(23, 23, 23, 0.6) !important;*/
}
